<template>
    <div class="bg"><img></div>
    <div class="main_content">
        <div class="bg" style=""><img view-lazy="0" id="main_content_bg" src="../../../images/home/topic_fragment/main_content_bg.png"></div>
        <item class="item">
            <div class="focus"></div>
        </item>
        <div class="player"></div>
    </div>
    <group class="screen_194" style="top: 520px;">
        <div class="r_254x194">
            <item class="item" style="left:42px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 150px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 167px;">黄渤、荣梓杉领衔主演</div>
            </item>

            <item class="item" style="left:346px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_05.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">发财日记</text>
                <div class="info" style="top: 150px;">90年代初，穷小子来深圳</div>
                <div class="info" style="top: 167px;">由宋小宝执导，宋小宝、马丽、沙溢、张一山领衔主演</div>
            </item>

            <item class="item" style="left:650px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_06.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">唐人街探案3</text>
                <div class="info" style="top: 150px;">****</div>
                <div class="info" style="top: 167px;">*******</div>
            </item>

            <item class="item" style="left:953px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_07.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">一点就到家</text>
                <div class="info" style="top: 150px;">****</div>
                <div class="info" style="top: 167px;">*******</div>
            </item>
        </div>
    </group>

    <group class="screen_440" style="top: 818px;">
        <div class="r_584x440">
            <item class="item" style="left:42px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/topic_fragment/shadow_584.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 380px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 398px;">黄渤、荣梓杉领衔主演</div>
            </item>
        </div>
        <div class="r_254x194">
            <item class="item" style="left:650px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 150px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 167px;">黄渤、荣梓杉领衔主演</div>
            </item>

            <item class="item" style="left:953px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_05.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">发财日记</text>
                <div class="info" style="top: 150px;">90年代初，穷小子来深圳</div>
                <div class="info" style="top: 167px;">由宋小宝执导，宋小宝、马丽、沙溢、张一山领衔主演</div>
            </item>

            <item class="item" style="left:650px;top: 234px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_06.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">唐人街探案3</text>
                <div class="info" style="top: 150px;">****</div>
                <div class="info" style="top: 167px;">*******</div>
            </item>

            <item class="item" style="left:953px;top: 234px;">
                <div class="focus"></div>
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_07.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">一点就到家</text>
                <div class="info" style="top: 150px;">****</div>
                <div class="info" style="top: 167px;">*******</div>
            </item>
        </div>
    </group>

</template>
