<template>
    <group class="main_content">
        <div class="bg" style=""><img view-lazy="0" id="main_content_bg" src="../../../images/home/topic_fragment/main_content_bg.png"></div>
        <poster style="left: 709px;top: 88px;" size="552,310" id="player_poster">
            <img src="../../../images/home/topic_fragment/main_content.png" id="pic">
        </poster>
        <player style="width: 552px;height: 310px;left: 709px;top: 88px;" id="player"></player>
    </group>

    <div class="title" style="top: 475px;">
        <div class="txt">甜蜜日常·抢先看</div>
    </div>

    <group class="screen_194" style="top: 520px;">
        <div class="r_254x194">
            <focus class="item" style="left:42px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 146px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 164px;">黄渤、荣梓杉领衔主演</div>
            </focus>

            <focus class="item" style="left:346px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_05.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">发财日记</text>
                <div class="info" style="top: 146px;">90年代初，穷小子来深圳</div>
                <div class="info" style="top: 164px;">由宋小宝执导，宋小宝、马丽、沙溢、张一山领衔主演</div>
            </focus>

            <focus class="item" style="left:650px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_06.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">唐人街探案3</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>

            <focus class="item" style="left:953px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_07.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">一点就到家</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>
        </div>
    </group>

    <div class="title" style="top: 778px;">
        <div class="txt">VIP专享花絮</div>
    </div>

    <group class="screen_440" style="top: 818px;">
        <div class="r_584x440">
            <focus class="item" style="left:42px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/topic_fragment/shadow_584.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 377px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 395px;">黄渤、荣梓杉领衔主演</div>
            </focus>
        </div>
        <div class="r_254x194">
            <focus class="item" style="left:650px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 146px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 164px;">黄渤、荣梓杉领衔主演</div>
            </focus>

            <focus class="item" style="left:953px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_05.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">发财日记</text>
                <div class="info" style="top: 146px;">90年代初，穷小子来深圳</div>
                <div class="info" style="top: 164px;">由宋小宝执导，宋小宝、马丽、沙溢、张一山领衔主演</div>
            </focus>

            <focus class="item" style="left:650px;top: 246px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_06.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">唐人街探案3</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>

            <focus class="item" style="left:953px;top: 246px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_07.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">一点就到家</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>
        </div>
    </group>

    <div class="title" style="top: 1332px;">
        <div class="txt">热门混剪上头了</div>
    </div>

    <group style="width:1280px;height: 200px;top: 1385px;overflow: hidden;">
        <div class="r_254x194">
            <focus class="item" style="left:42px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 146px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 164px;">黄渤、荣梓杉领衔主演</div>
            </focus>
            <focus class="item" style="left:346px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_05.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">发财日记</text>
                <div class="info" style="top: 146px;">90年代初，穷小子来深圳</div>
                <div class="info" style="top: 164px;">由宋小宝执导，宋小宝、马丽、沙溢、张一山领衔主演</div>
            </focus>

            <focus class="item" style="left:650px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_06.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">唐人街探案3</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>

            <focus class="item" style="left:953px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_07.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">一点就到家</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>
        </div>
    </group>

    <div class="title" style="top: 1643px;">
        <div class="txt">爆笑日常更下饭</div>
    </div>
    <group style="width:1280px;height: 200px;top: 1697px;overflow: hidden;">
        <div class="r_254x194">
            <focus class="item" style="left:42px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 146px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 164px;">黄渤、荣梓杉领衔主演</div>
            </focus>
            <focus class="item" style="left:346px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_05.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">发财日记</text>
                <div class="info" style="top: 146px;">90年代初，穷小子来深圳</div>
                <div class="info" style="top: 164px;">由宋小宝执导，宋小宝、马丽、沙溢、张一山领衔主演</div>
            </focus>

            <focus class="item" style="left:650px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_06.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">唐人街探案3</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>

            <focus class="item" style="left:953px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_07.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">一点就到家</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>
        </div>
    </group>

    <div class="title" style="top: 1957px;">
        <div class="txt">轻装喜剧·有糖有梗</div>
    </div>

    <group class="screen_440" style="top: 2014px;">
        <div class="r_584x440">
            <focus class="item" style="left:42px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/topic_fragment/shadow_584.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 377px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 395px;">黄渤、荣梓杉领衔主演</div>
            </focus>
        </div>
        <div class="r_254x194">
            <focus class="item" style="left:650px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_04.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">外太空的莫扎特</text>
                <div class="info" style="top: 146px;">神秘外星人莫扎特来访</div>
                <div class="info" style="top: 164px;">黄渤、荣梓杉领衔主演</div>
            </focus>

            <focus class="item" style="left:953px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_05.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">发财日记</text>
                <div class="info" style="top: 146px;">90年代初，穷小子来深圳</div>
                <div class="info" style="top: 164px;">由宋小宝执导，宋小宝、马丽、沙溢、张一山领衔主演</div>
            </focus>

            <focus class="item" style="left:650px;top: 246px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_06.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">唐人街探案3</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>

            <focus class="item" style="left:953px;top: 246px;">
                <div class="pic"><img src="../../../images/home/topic_fragment/hot_07.png"></div>
                <div class="shadow">
                    <img src="../../../images/home/recommend_fragment/like_shadow.png" view-lazy="0">
                </div>
                <text class="name" id="name">一点就到家</text>
                <div class="info" style="top: 146px;">****</div>
                <div class="info" style="top: 164px;">*******</div>
            </focus>
        </div>
    </group>

    <div class="title" style="top: 2500px;">
        <div class="txt">桃家热播·轻装喜剧</div>
    </div>

    <group class="r_204x306" style="width: 1190px;height: 315px;top: 2558px;left: 45px;">
        <focus class="item" style="left: 0px">
            <div class="pic"><img src="../../../images/home/recommend_fragment/new_01.png"></div>
            <div class="shadow"><img src="../../../images/home/recommend_fragment/topic_shadow.png" view-lazy="0"></div>
            <text class="name" id="name"></text>
            <div class="info" style="top: 261px;" id="info1"></div>
            <div class="info" style="top: 278px;" id="info2"></div>
        </focus>

        <focus class="item" style="left: 210px">
            <div class="pic"><img src="../../../images/home/recommend_fragment/new_02.png"></div>
            <div class="shadow"><img src="../../../images/home/recommend_fragment/topic_shadow.png" view-lazy="0"></div>
            <text class="name" id="name"></text>
            <div class="info" style="top: 261px;">****</div>
            <div class="info" style="top: 278px;">****</div>
        </focus>

        <focus class="item" style="left: 420px">
            <div class="pic"><img src="../../../images/home/recommend_fragment/new_03.png"></div>
            <div class="shadow"><img src="../../../images/home/recommend_fragment/topic_shadow.png" view-lazy="0"></div>
            <text class="name" id="name"></text>
            <div class="info" style="top: 261px;">****</div>
            <div class="info" style="top: 278px;">****</div>
        </focus>

        <focus class="item" style="left: 630px">
            <div class="pic"><img src="../../../images/home/recommend_fragment/new_04.png"></div>
            <div class="shadow"><img src="../../../images/home/recommend_fragment/topic_shadow.png" view-lazy="0"></div>
            <text class="name" id="name"></text>
            <div class="info" style="top: 261px;">****</div>
            <div class="info" style="top: 278px;">****</div>
        </focus>

        <focus class="item" style="left: 840px">
            <div class="pic"><img src="../../../images/home/recommend_fragment/new_05.png"></div>
            <div class="shadow"><img src="../../../images/home/recommend_fragment/topic_shadow.png" view-lazy="0"></div>
            <text class="name" id="name"></text>
            <div class="info" style="top: 261px;">****</div>
            <div class="info" style="top: 278px;">****</div>
        </focus>

        <focus class="item" style="left: 1050px">
            <div class="pic"><img src="../../../images/home/recommend_fragment/new_06.png"></div>
            <div class="shadow"><img src="../../../images/home/recommend_fragment/topic_shadow.png" view-lazy="0"></div>
            <text class="name" id="name"></text>
            <div class="info" style="top: 261px;">****</div>
            <div class="info" style="top: 278px;">****</div>
        </focus>
    </group>

    <div class="back_top" style="top: 2900px;">
        <div class="item" view-type="item" view-id="back_top">按确认键，回到顶部</div>
    </div>
</template>
