<template>
    <div class="title">搜索记录</div>
    <recycle class="history" id="history">
        <item class="item">
            <div class="focus"></div>
            <text class="text" id="text"></text>
        </item>
    </recycle>
    <div class="delete_history">
        <item class="item">
            <div class="focus"></div>
            <text class="text">删除记录</text>
        </item>
    </div>
    <div class="line"></div>
    <div class="title" style="left: 722px;">推荐</div>
    <recycle class="recommend" id="recommend">
        <item class="item">
            <div class="focus"></div>
            <text class="text" id="text"></text>
        </item>
    </recycle>
    <group class="bottom">
        <div class="header" style="left: 0px;">热播</div>
        <recycle class="type_recommend" style="left: 0px;" id="hot">
            <item class="item">
                <div class="focus"></div>
                <text class="text" id="text"></text>
            </item>
        </recycle>
        <div class="header" style="left: 230px;">电视剧</div>
        <recycle class="type_recommend" style="left: 230px;" id="drama">
            <item class="item">
                <div class="focus"></div>
                <text class="text" id="text"></text>
            </item>
        </recycle>
        <div class="header" style="left: 460px;">电影</div>
        <recycle class="type_recommend" style="left: 460px;" id="movie">
            <item class="item">
                <div class="focus"></div>
                <text class="text" id="text"></text>
            </item>
        </recycle>
        <div class="header" style="left: 690px;">综艺</div>
        <recycle class="type_recommend" style="left: 690px;" id="variety">
            <item class="item">
                <div class="focus"></div>
                <text class="text" id="text"></text>
            </item>
        </recycle>
        <div class="header" style="left: 920px;">动漫</div>
        <recycle class="type_recommend" style="left: 920px;" id="animation">
            <item class="item">
                <div class="focus"></div>
                <text class="text" id="text"></text>
            </item>
        </recycle>
        <div class="header" style="left: 1150px;">少儿</div>
        <recycle class="type_recommend" style="left: 1150px;" id="cartoon">
            <item class="item">
                <div class="focus"></div>
                <text class="text" id="text"></text>
            </item>
        </recycle>
    </group>
</template>
