.bg {
    width: 1280px;
    height: 720px;
}

.bg .color {
    width: 1280px;
    height: 720px;
    background: #141516;
}

.player {
    width: 646px;
    height: 456px;
    left: 42px;
    top: 42px;
}

.player .item {
    width: 646px;
    height: 366px;
}

.player .focus,
.player .pic {
    width: 640px;
    height: 360px;
}

.title {
    width: 600px;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
}

.info {
    width: 600px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.btn {
    width: 646px;
    height: 80px;
    top: 420px;
    left: 42px;
}

.btn .item {
    width: 80px;
    height: 40px;
    background: gray;
    border-radius: 12px;
}

.btn .focus {
    width: 80px;
    height: 40px;
    border: unset;
    background: #61dd6c;
    border-radius: 12px;
}

.btn .text {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.sub_content {
    width: 646px;
    height: 40px;
    left: 42px;
    top: 490px;
    overflow: hidden;
}

.sub_content .item,
.sub_content .focus,
.sub_content .bg,
.sub_content .text {
    width: 60px;
    height: 40px;
}

.sub_content .focus{
    border: unset;
    background: #61dd6c;
    z-index: 1;
    border-radius: 5px;
}

.sub_content .bg{
    background: gray;
    border-radius: 5px;
}

.sub_content .text {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    z-index: 1;
}

.recommend{
    width: 646px;
    height: 116px;
    top: 590px;
    left: 42px;
    overflow: hidden;
}

.recommend .item{
    width: 186px;
    height: 116px;
}

.recommend .focus{
    width: 180px;
    height: 110px;
}

.recommend .pic,
.recommend .pic img{
    width: 180px;
    height: 110px;
}

.recommend .shadow{
    left: 3px;
    top: 67px;
}

.recommend .shadow img{
    width: 254px;
    height: 130px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.recommend .name{
    width: 220px;
    height: 18px;
    left: 20px;
    top: 85px;
    white-space: nowrap;
    font-size: 18px;
    color: white;
    line-height: 18px;
}

.like{
    width: 506px;
    height: 664px;
    left: 730px;
    top: 42px;
    overflow: hidden;
}

.like .item{
    width: 506px;
    height: 116px;
}

.like .focus{
    width: 500px;
    height: 110px;
}

.like .name{
    width: 290px;
    height: 24px;
    left: 200px;
    top: 15px;
    white-space: nowrap;
    font-size: 24px;
    color: white;
    line-height: 24px;
}

.like .info{
    width: 290px;
    height: 16px;
    left: 200px;
    white-space: nowrap;
    font-size: 16px;
    color: gray;
    line-height: 16px;
    overflow: hidden;
}
