.bg{
    width: 1280px;
    height: 720px;
}

.order_top {
    width: 1280px;
    height: 80px;
    z-index: 1;
}

.logo {
    left: 42px;
    top: 42px;
}

.logo img {
    width: 112px;
    height: 17px;
}

.navigation {
    width: 600px;
    height: 32px;
    left: 350px;
    top: 32px;
}

.navigation .item {
    width: 150px;
    height: 32px;
}

.navigation .item .focus {
    width: 150px;
    height: 32px;
    border: unset;
    background: #61dd6c;
    border-radius: 14px;
}

.navigation .item .txt {
    width: 150px;
    height: 32px;
    font-size: 18px;
    line-height: 30px;
    white-space: nowrap;
    text-align: center;
}

.search {
    top: 32px;
    left: 1000px;
    z-index: 1;
}

.search .item,
.search .bg {
    width: 146px;
    height: 32px;
}

.search .bg {
    border-radius: 16px;
    background: rgba(128, 128, 128, 0.6);
}

.search .focus {
    width: 146px;
    height: 32px;
    background-color: #61dd6c;
    border-radius: 16px;
    border: unset;
}

.search .icon {
    height: 16px;
    top: 8px;
    left: 113px;
}

.search .txt {
    width: 95px;
    height: 32px;
    left: 18px;
    line-height: 31px;
    font-size: 14px;
}

.history {
    left: 1185px;
    top: 32px;
    z-index: 1;
}

.history .item {
    width: 32px;
    height: 32px;
}

.history .focus,
.history .icon img {
    width: 32px;
    height: 32px;
}

.history .focus {
    border-radius: 17px;
    border-color: #61dd6c;
}

.history .icon {
    left: 3px;
    top: 3px;
}

.h_scroll {
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
