.bg{
    width: 1280px;
    height: 720px;
    background: #141516;
}

.logo {
    top: 42px;
    left: 42px;
    z-index: 1;
}

.logo img {
    height: 18px;
    border-radius: 0px;
}

.input{
    width: 646px;
    height: 46px;
    left: 317px;
    top: 28px;
    background: #666666;
}

.input .item,
.input .item .focus{
    width: 640px;
    height: 40px;
}

.input .icon_search{
    width: 22px;
    height: 22px;
    left: 12px;
    top: 12px;
}

.input .icon_search img{
    width: 22px;
    height: 22px;
}

.input .key_word{
    width: 590px;
    height: 40px;
    left: 43px;
    top: 3px;
    font-size: 28px;
    line-height: 40px;
    text-align: left;
}

.place_holder{
    color: gray;
}

.line{
    width: 1280px;
    height: 1px;
    top: 100px;
    background: #666666;
    opacity: 0.8;
}

.h_scroll {
    width: 1280px;
    height: 595px;
    top:125px;
    overflow: hidden;
}
