.item .pic{
    left: 0px;
    top: 0px;
}


.main_content,
.main_content .bg img{
    width: 1280px;
    height: 447px;
}

.main_content .item{
    left: 683px;
    top: 86px;
    width: 558px;
    height: 315px;
}

.main_content .focus{
    width: 552px;
    height: 309px;
}

.main_content .player{
    width: 552px;
    height: 309px;
    left: 686px;
    top: 89px;
}

.main_content .poster img{
    width: 628px;
    height: 376px;
}

.title{
    width: 1000px;
    height: 24px;
    left: 45px;
}

.title .txt{
    height: 24px;
    white-space: nowrap;
    line-height: 24px;
    font-size: 24px;
}

.r_254x194,
.r_254x194 .item{
    width: 254px;
    height: 194px;
}

.r_254x194 .focus{
    width: 254px;
    height: 194px;
}
.r_254x194 .pic,
.r_254x194 .pic img{
    width: 254px;
    height: 143px;
}

.r_254x194 .shadow{
    top: 64px;
}

.r_254x194 .shadow img{
    width: 254px;
    height: 130px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.r_254x194 .name{
    width: 220px;
    height: 18px;
    left: 17px;
    top: 119px;
    white-space: nowrap;
    font-size: 18px;
    color: white;
    line-height: 18px;
}

.r_254x194 .info{
    width: 220px;
    height: 12px;
    left: 17px;
    white-space: nowrap;
    font-size: 12px;
    color: gray;
    line-height: 12px;
    overflow: hidden;
}


.r_584x440,
.r_584x440 .item{
    width: 584px;
    height: 440px;
}

.r_584x440 .focus{
    width: 584px;
    height: 440px;
}

.r_584x440 .pic,
.r_584x440 .pic img{
    width: 584px;
}

.r_584x440 .shadow{
    top: 280px;
}

.r_584x440 .shadow img{
    width: 584px;
    height: 160px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.r_584x440 .name{
    width: 220px;
    height: 18px;
    left: 17px;
    top: 350px;
    white-space: nowrap;
    font-size: 18px;
    color: white;
    line-height: 18px;
}

.r_584x440 .info{
    width: 220px;
    height: 12px;
    left: 17px;
    white-space: nowrap;
    font-size: 12px;
    color: gray;
    line-height: 12px;
    overflow: hidden;
}

.screen_194{
    width: 1280px;
    height: 200px;
}

.screen_440{
    width: 1280px;
    height: 446px;
}

.r_204x306 .item,
.r_204x306 .focus{
    width: 204px;
    height: 306px;
}

.r_204x306 .pic,
.r_204x306 .pic img{
    width: 204px;
    height: 271px;
}

.r_204x306 .shadow{
    top: 180px;
}

.r_204x306 .shadow img{
    width: 204px;
    height: 126px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.r_204x306 .name{
    width: 170px;
    height: 18px;
    left: 17px;
    top: 231px;
    white-space: nowrap;
    font-size: 18px;
    color: white;
    line-height: 18px;
}

.r_204x306 .info{
    width: 170px;
    height: 12px;
    left: 17px;
    white-space: nowrap;
    font-size: 12px;
    color: gray;
    line-height: 12px;
    overflow: hidden;
}

.back_top .item{
    width: 1280px;
    height: 64px;
    font-size: 14px;
    line-height: 64px;
    text-align: center;
    color: #606060;
}

.back_top .item_focus{
    color: #62da6b;
}